/**
 * Created by Eyal Nahum on 23/04/2017.
 */

/**************************************************

                 GENERALIZATION

 **************************************************/


html, body {
    font-size:16px;
    font-family: "Work Sans",sans-serif;
}



/**************************************************

                    HEADER

 **************************************************/

.header {
    padding: 2.75rem 0;
    background-color: rgb(35, 2, 63);
}



#search-header #title-text {
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    color:rgb(255,0,171);
    margin-top:0;
    margin-bottom:0;
    transition: font-size 0.7s ease-out;
}

#search-header #title-text.animate-title {
    font-size:4.5rem;
}



#search-header .input-group {
    margin-top: 30px;
}

#search-header #search-input {
    border-radius: 19px;
    margin-right: .625rem;
    height: 40px;
}

#search-header #search-button {
    background-color: rgb(255,102,204);
    text-align: center;
    border-radius: 19px;
    padding: 0.3rem;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

#search-header #search-button:hover {
    color: #3a0087;
}




/*#search-header .clear-x {*/
    /*font-size: 29px;*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*right: 10px;*/
    /*top: -2px;*/
    /*color:#5f5f5f;*/
    /*cursor: pointer;*/
    /*transition: color 0.3s linear;*/
/*}*/

/*#search-header .clear-x:hover {*/
    /*color:blue;*/
/*}*/


#search-header .song-list-header {
    background-color:rgb(104,0,255);
    color:white;
}

/**************************************************

               SECTION: TRACKS-LIST

 **************************************************/

.track {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.6rem 0;
}

.track:hover {
    background-color: rgb(239,237,242);
}

.fa-play-circle-o {
    color: rgb(255,0,171);
}

.fa-play-circle-o:hover {
    color: rgb(255, 162, 191);
}

.error-message {
    display:none;
    text-align: center;
    font-size: 30px;
    background-color: #ff004a;
    margin: 0 auto;
    margin-top: 20rem;
    width: 19rem;
    color: white;
    padding: 20px 0;
    border-radius: 3rem;

}